{% extends 'base.html' %}
{% block title %} <title>Записи группы {{ group.title }}</title> {% endblock %}
{% include 'includes/header.html' %}    
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1 style = 'background:#0099CC; margin:0px'>*-- Группы --*</h1>
    <p><b>{{ group.title }}</b></p>
    {% for post in posts %}
      <article>
        <ul>
          <li style = 'background:#3399CC; margin:0px'>
            Автор: <b>{{ post.author.get_full_name }}</b>
          </li>
          <li style = 'background:#99CCFF; margin:0px'>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>          
      </article>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}    
  </div>
{% endblock %}